*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 80px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
nav >img{
    margin: 0;
    background-color: white;
}
section{
    padding: 20px;
}
.hero{
    display: flex;
    flex-direction: column;

}
.hero--photo{
    width: 1000px;
    align-self: center;
}
.hero--header{
    margin-left: 20px;
    margin-bottom: 16px;
    font-size: 50px;
}
.hero--text{
    margin-left: 20px;
    margin-top: 0;
    font-size: 24px;
    width: 50vw;
}
.card{
    width: 250px;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(55, 54, 54, 0.1);
    padding: 20px;
    position: relative;
    
}
.card--photo{
    width: 100%;
    height: 300px;
    border-radius: 9px;
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.card--badge{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFD700;
    padding: 5px;
    border-radius: 0 0 0 9px;
}
